@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}
.grid-pattern {
  background-image: radial-gradient(#ffffff22 1px, transparent 1px);
  background-size: 20px 20px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.swiper-pagination-bullet {
  width: 40px !important;
  height: 3px !important;
  border-radius: 2px !important;
  background: #e2e8f0 !important;
  opacity: 1 !important;
  transition: all 0.3s ease !important;
}
.swiper-pagination-bullet-active {
  background: #2563eb !important;
  width: 60px !important;
}
